/* mobile-first-design */
*{
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.alert-info>a {
    background: lightblue;
    padding: 20px;
    display: flex;
    justify-content: center;
    border: solid black 1px;
    text-decoration: none;
    color: black;
}

.header-img {
    display: flex;
    justify-content: center;
}

.header-img>img{
    height: 225px;
    width: 340px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 46px;
    font-weight: bold;
    margin: 5px 0 20px 0;
}

ul .nav-links {
    width: calc(100% - 68px);
}

.nav-links>li {
    background: lightgray;
    margin: 12px 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

h2 {
    font-weight: bolder;
}

.main>h2 {
    margin: 19px 0 0 0;
}

.main>p {
    margin: 8px 0 30px 0;
}
